@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@page {
  size: A4 portrait;
  margin: 1cm;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow:  hidden;
}

.container {
  max-width: 95ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacer;
  padding-right: $spacer;

  @media print {
    max-width: 100%;
  }
}

ul, ol {
  list-style-position: inside;
}

fieldset {
  border: 0;
}

input + label {
  margin-left: $spacer;
}

input, textarea {
  font-size: 1rem;
  border: 0;
  border-radius: $border-radius;
  padding: 3px 7px;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {

  input[type=radio]{
--border: none;
--bgcolor: #{$color-theme-lightgrey};
--bdradius: 50%;
&:after {
  content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    background-color: $color-theme-darkgrey;
    transform: scale(.7);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: var(--opacity);
}

  }

  input[type=checkbox]{
    --border: 2px solid #{$color-theme-lightgrey};
    --bgcolor: white;
    --bdradius: 0%;

    &:after {

      content: '';
        display: block;
        border: 2px solid $color-theme-darkgrey;
        border-top: 0;
        border-left: 0;

        position: absolute;
        background-color: none;
        transform: scale(.7);
        width: 5px;
      height: 9px;
        border-radius: 0%;
        opacity: var(--opacity);
        left: 7px;
      top: 4px;
      transform: rotate(43deg);
    }
  }

  input[type=radio],
  input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: var(--border);
    border-radius: var(--bdradius);
    height:21px;
    width:21px;
    background-color:white;
    display: inline-block;

    .an-checkboxes__option &{
      background-color: var(--bgcolor);
    }

  &:checked {
    --opacity: 1;
  }

  &:not(:checked){
    --opacity: 0;
  }
  }
}

input[type=range] {
  background-color: transparent;
  appearance: none;

  @mixin range-thumb {
    box-sizing: content-box;
    border: $range-thumb-border-size solid $color-theme-darkgrey;
    border-radius: 50%;
    background-color: white;
    width: $range-thumb-size - $range-thumb-border-size * 2;
    height: $range-thumb-size - $range-thumb-border-size * 2;
    cursor: grab;
    appearance: none;
  }
  &::-webkit-slider-thumb{
    @include range-thumb;
    transform: translateY(-$range-track-height);
  }
  &::-moz-range-thumb {
    @include range-thumb;
  }
  &::-ms-thumb {
    @include range-thumb;
  }

  @mixin range-track {
    height: $range-track-height;
    background-color: white;
    border-radius: $border-radius;
  }
  &::-webkit-slider-runnable-track{
    @include range-track;
  }
  &::-moz-range-track {
    @include range-track;
  }
  &::-ms-track {
    @include range-track;
  }
}

.btn {
  display: inline-block;
  margin: $spacer 0;
  padding: $spacer $spacer * 2;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 1rem;
  transition: background-color 200ms ease-in-out;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    background-color: $color-theme-lightgrey;
  }

  &:focus {
    background-color: #ccc;
  }

  &:active{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }

  &--block {
    width: 100%;
  }
}

.visually-hidden {
  display: initial;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.page-break-before {
  @media print {
    page-break-before: always;
  }
}

@import '_grid.scss';
