@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@page {
  size: A4 portrait;
  margin: 1cm;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow:  hidden;
}

.container {
  max-width: 95ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacer;
  padding-right: $spacer;

  @media print {
    max-width: 100%;
  }
}

ul, ol {
  list-style-position: inside;
}

fieldset {
  border: 0;
}

input + label {
  margin-left: $spacer;
}

input, textarea {
  font-size: 1rem;
}

input[type=range] {
  background-color: transparent;
  appearance: none;

  @mixin range-thumb {
    box-sizing: content-box;
    border: $range-thumb-border-size solid #333;
    border-radius: 50%;
    background-color: #fff;
    width: $range-thumb-size - $range-thumb-border-size * 2;
    height: $range-thumb-size - $range-thumb-border-size * 2;
    cursor: grab;
    appearance: none;
  }
  &::-webkit-slider-thumb{
    @include range-thumb;
    transform: translateY(-$range-track-height);
  }
  &::-moz-range-thumb {
    @include range-thumb;
  }
  &::-ms-thumb {
    @include range-thumb;
  }

  @mixin range-track {
    height: $range-track-height;
    background-color: #666;
    border-radius: 3px;
  }
  &::-webkit-slider-runnable-track{
    @include range-track;
  }
  &::-moz-range-track {
    @include range-track;
  }
  &::-ms-track {
    @include range-track;
  }
}

.btn {
  display: inline-block;
  margin: $spacer 0;
  padding: $spacer $spacer * 2;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 1rem;
  transition: background-color 200ms ease-in-out;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    background-color: #eee;
  }

  &:focus {
    background-color: #ccc;
  }

  &:active{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }
}

.visually-hidden {
  display: initial;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.page-break-before {
  @media print {
    page-break-before: always;
  }
}

@import '_grid.scss';
