@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('assets/fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@page {
  size: A4 portrait;
  margin: 1cm;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow:  hidden;
}

.container {
  max-width: 95ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacer;
  padding-right: $spacer;

  @media print {
    max-width: 100%;
  }
}

ul, ol {
  list-style-position: inside;
}

fieldset {
  border: 0;
}

input + label {
  margin-left: $spacer;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

input[type=radio],
input[type=checkbox] {
  appearance: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  height: 1.25em;
  width: 1.25em;
  background-color:white;
  outline-offset: 2px;
}

input[type=radio] {
  border: none;
  border-radius: 50%;

  &::after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    background-color: $color-theme-darkgrey;
    transform: scale(.7);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 200ms ease-in-out;
  }

  &:not(:checked)::after {
    opacity: 0;
  }

  .an-checkboxes__option &, .an-field__subfields & {
    border: 2px solid $color-theme-darkgrey;
  }
}

input[type=checkbox] {
  border: 2px solid $color-theme-darkgrey;

  &::after {
    content: '';
    display: block;
    border: 2px solid $color-theme-darkgrey;
    border-top: 0;
    border-left: 0;
    transition: opacity 200ms ease-in-out;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 25%;
    top: -1px;
    transform: rotate(45deg) scale(0.75);
  }

  &:not(:checked)::after {
    opacity: 0;
  }

  &:disabled {
    border: 2px solid $color-theme-lightgrey;
  }
}

input[type=range] {
  appearance: none;
  background-color: transparent;

  @mixin range-thumb {
    box-sizing: content-box;
    position: relative;
    border: $range-thumb-border-size solid $color-theme-darkgrey;
    border-radius: 50%;
    background-color: white;
    width: $range-thumb-size - $range-thumb-border-size * 2;
    height: $range-thumb-size - $range-thumb-border-size * 2;
    cursor: grab;
    appearance: none;
    z-index: 1000;
  }
  &::-webkit-slider-thumb{
    @include range-thumb;
    transform: translateY(-$range-track-height + 7px);
  }
  &::-moz-range-thumb {
    @include range-thumb;
  }
  &::-ms-thumb {
    @include range-thumb;
  }

  @mixin range-track {
    height: $range-track-height;
    background-color: white;
    border-radius: $border-radius + 5px;
  }
  &::-webkit-slider-runnable-track{
    @include range-track;
  }
  &::-moz-range-track {
    @include range-track;
  }
  &::-ms-track {
    @include range-track;
  }
}

.btn {
  display: inline-block;
  margin: $spacer 0;
  padding: $spacer $spacer * 2;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 1rem;
  transition: background-color 200ms ease-in-out;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    background-color: $color-theme-lightgrey;
  }

  &:focus {
    background-color: #ccc;
  }

  &:active{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }

  &--block {
    width: 100%;
  }
}

.darkred {
  color: $color-theme-darkred;
}

.d-flex {
  display: flex;
}

.visually-hidden {
  display: initial;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.page-break-before {
  @media print {
    page-break-before: always;
  }
}

@import '_grid.scss';
